// файл для подключения локальных шрифтов в стилях

/*

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Font Name";
  font-display: swap;
  src: url("../fonts/filename.woff2") format("woff2"),
      url("../fonts/filename.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Font Name";
  font-display: swap;
  src: url("../fonts/filename.woff2") format("woff2"),
      url("../fonts/filename.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Font Name";
  font-display: swap;
  src: url("../fonts/filename.woff2") format("woff2"),
      url("../fonts/filename.woff") format("woff");
}

*/
