html {
  box-sizing: border-box;
  min-width: 1248px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1248px;

  color: #37393e;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
