// Файл для scss переменных
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$font-primery: "PT Astra Sans", sans-serif;
$font-secondery: "Podkova", serif;
$color-pink: #ff7171;
$color-blue: #3971ff;
$color-light-blue: #98b5ff;
$color-dark: #37393e;
$color-gray: #bfbfbf;
$color-light-gray: #f6f6f6;
$color-white: #ffffff;
