.product-card {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: 4px;
  background-color: $color-white;

  font-family: $font-primery;

  &:hover,
  &:focus {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.07);
  }
}

.product-card--small {
  .product-card__picture {
    height: 221px;
  }

  .product-card__rating {
    top: 4px;
    left: 4px;
  }

  .product-card__info {
    padding-top: 15px;
  }

  .product-card__author {
    margin-bottom: 4px;
  }

  .product-card__name {
    margin-bottom: 7px;

    line-height: 23px;
  }

  .product-card__desc {
    margin-bottom: 16px;
  }
}

.product-card__rating {
  position: absolute;
  top: 6px;
  left: 6px;

  display: flex;
  align-items: center;

  margin: 0;
  padding: 1px 3px 1px 2px;

  color: $color-white;
  border-radius: 2px;
  background: $color-blue;

  font-size: 14px;
  line-height: 16px;

  &::before {
    display: block;

    width: 16px;
    height: 16px;

    content: "";

    background-image: url("../img/icon-star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.product-card__picture {
  display: flex;
  overflow: hidden;
  align-items: start;

  width: 100%;
  height: 320px;
  margin: 0;

  border-radius: 4px 4px 0 0;
  background-color: $color-gray;

  img {
    display: block;

    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    object-fit: cover;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding-top: 18px;
  padding-right: 17px;
  padding-bottom: 25px;
  padding-left: 14px;
}

.product-card__author {
  margin: 0;

  color: $color-gray;

  font-size: 14px;
  line-height: 16px;
}

.product-card__name {
  margin: 0;
  margin-bottom: 5px;

  color: $color-blue;

  font-size: 24px;
  line-height: 28px;
}

.product-card__desc {
  margin: 0;
  margin-bottom: 15px;

  color: $color-dark;
}

.product-card__bottom-wrap {
  display: flex;
  align-items: center;

  margin-top: auto;
}

.product-card__more {
  display: inline-block;

  min-width: 95px;
  margin-right: 10px;
  padding: 1px 10px 3px;

  text-align: center;

  color: $color-white;
  border-radius: 2px;
  background: $color-blue;

  font-weight: 400;
}

.product-card__pages-count {
  margin: 0;

  color: $color-gray;

  font-size: 14px;
  line-height: 16px;
}
