.product-page__header {
  margin-bottom: 50px;
}

.product-page__breadcrumbs {
  margin: 0;
  margin-bottom: 20px;
}

.product-page__card {
  margin: 0;
  margin-bottom: 70px;
}

.product-page__reviews {
  margin: 0;
  margin-bottom: 70px;
}

.product-page__previous {
  margin: 0;
  margin-bottom: 90px;
}
